<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.missilelauncher.missilelauncher">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACTION_MANAGE_OVERLAY_PERMISSION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SET_ALARM" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/missile_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/missile_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".FloatingWindow" />

        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity android:name=".GroupIconPicker" />
        <activity android:name=".G1SelectedItems" />
        <activity android:name=".G2SelectedItems" />
        <activity android:name=".G3SelectedItems" />
        <activity android:name=".G4SelectedItems" />
        <activity android:name=".G5SelectedItems" />
        <activity android:name=".G6SelectedItems" />
        <activity android:name=".G7SelectedItems" />
        <activity
            android:name=".PlayStorePrompt"
            android:theme="@style/AppTheme.Modal.EasyRemove" />
        <activity
            android:name=".AutoSort"
            android:theme="@style/AppTheme.Modal.EasyRemove" />

        <receiver android:name=".DeviceBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>